/*------------------------------------------------------------------
[Master Stylesheet]

Project:	lightweightmenu
Version:	1.1
Last change:	05/02/08 
Author:	 Connor Stokes
Primary use:	
-------------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Raleway';

* { font-family: 'Raleway', sans-serif; }

a { text-decoration: none; }

body {
  background-color: #0B4F6C;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

button {
  margin: 20px;
  padding: 15px 40px;
  text-transform: uppercase;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #20BF55;
  opacity: 0.8;
}

.overlay { display: none;  opacity:
}

.overlay ul {
  max-width: 500px;
  text-align: center;
  margin: 50px auto;
}

.overlay ul li {
  list-style: none;
  font-size: 30px;
  padding: 40px 0;
  border-bottom: 1px dotted #FFFFFF;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.overlay ul li:hover {
  background: #FFFFFF;
  cursor: pointer;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.overlay ul li a { color: #FFFFFF; }

.overlay ul li:hover a { color: #0B4F6C; }

.close {
  font-size: 40px;
  font-weight: lighter;
  position: absolute;
  color: #FFFFFF;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.show { display: block; }

.hide { display: block; }
